<div id="follow">
	<h3>Get Notified About My Newest Freebies & Upcoming Themes!</h3>
	<h5>
		<p>I do make some awesome freebies for you to use... All of them are FREE and pixel perfect!</p>
		<p>Thanks for showing me the support by subscribing, and I'll try not to disappoint you...</p>
	</h5>
	<%= image_tag("subscribe_divider") %> <a href="http://www.twitter.com/92_five">
	<div id="follow-twitter"><%= image_tag("tweet_top") %>
		<h4>Follow me on twitter</h4>
	</div>
	</a><a href="http://eepurl.com/dqtGj">
	<div id="follow-mail"><%= image_tag("mail_top") %>
		<h4>Subscribe to my newsletter</h4>
	</div>
	</a>
	<h1>Thanks for that!</h1>
</div>
