<div id="footer">
	<div id="social-box">
		<ul>
			<li>
				<div class="facebook"><a href="#"></a></div>
			</li>
			<li>
				<div class="twitter"><a href="#"></a></div>
			</li>
			<li>
				<div class="rss"><a href="#"></a></div>
			</li>
		</ul>
	</div>
	<h6>Copyright © 2011 - effe</h6>
</div>
