<div id="footer">
	<div id="social-box">
		<ul>
          <li>
            <div class="google"><a target="_blank" href="https://www.google.com/+GabrielMu%C3%B1umel"></a></div>
          </li>
          <li>
            <div class="facebook"><a target="_blank" href="https://www.facebook.com/n0dix"></a></div>
          </li>
          <li>
            <div class="linkedin"><a target="_blank" href="https://uk.linkedin.com/in/gmunumel/en"></a></div>
          </li>
		</ul>
	</div>
	<h6>Copyright © 2015 - effe</h6>
</div>
