<div id="topcontrol" style="position: fixed; bottom: 5px; left: 960px; opacity: 1; cursor: pointer;" title="Go to Top">
</div>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <a href="index.html">
        <img src="images/logo.png" width="100" height="80" alt="logo" />
      </a>
    </div>
    <div id="header-text">
      <h4>This is our portfolio, our latest stuff is here!</h4>
      <h6><a href="index.html">Home</a> → Portfolio</h6>
    </div>
  </div>
</div>
