<div id="topcontrol" style="position: fixed; bottom: 5px; left: 960px; opacity: 1; cursor: pointer;" title="Go to Top">
</div>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <a href="index.html">
        <%= image_tag("logo") %>
      </a>
    </div>
    <div id="header-text">
      <h4>This is our portfolio, our latest stuff is here!</h4>
      <%= yield :head %>
    </div>
  </div>
</div>
