<div id="topcontrol" style="position: fixed; bottom: 5px; left: 960px; opacity: 1; cursor: pointer;" title="Go to Top">
</div>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("logo"), root_path %>
    </div>
    <div id="header-text">
      <h4>This is my journey in the digital work!</h4>
      <%= yield :head %>
    </div>
  </div>
</div>
