<div id="hire">
  <h3>I am available to be hired!</h3>
  <h6>I do make some awesome websites using the best web frameworks like Ruby on Rails, Django, Symfony, CodeIgniter and more... </h6>
  <h6>I also make creative and personalized Android apps</h6>
  <h6>If you want to see a preview of my work please visit the <%= link_to 'Portfolio', :portfolio_index %> section</h6>
  <div class="star-divider" ></div>
  <%= image_tag("hire_me") %>
  <h5>Thanks for your time! ☺</h5>
</div>
